body,
html,
main {
  margin: 0;
  overflow: hidden;
  height: 965px;
}

html {
  font-family: 'gamefont', Arial, sans-serif;
  font-size: 4vw;
}

.bg {
  position: absolute;
  background-image: url(assets/cclkomdccv.jpeg);
  height: 135vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title {
  color: yellow;
  font-size: 8vw;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-bottom: 5vh;
}

.startBtn {
  background-color: rgb(34, 175, 185);
  border: 5px solid black;
  padding: 4vh 2.5vw;
  font-size: 3vw;
  font-weight: bolder;
  box-shadow: -1vh 1vw pink;
  position: absolute;
  z-index: 3;
  font-family: 'gamefont', Arial, sans-serif;
  color: yellow;
  margin-left: 25vw;
  cursor: pointer;
}

#character-container .startBtn {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

h2 {
  color: pink;
  text-align: center;
  font-size: 30px;
}

#character-container {
  padding: 10px 10px 30px 10px;
  width: 1000px;
  height: 700px;
  background-color: rgba(95, 82, 26, 0.9);
  box-sizing: border-box;
  margin-bottom: 120px;
  border-radius: 5px;
}

#character-box {
  width: 300px;
  height: 370px;
  float: left;
  border-radius: 5px;
  border: 1px solid black;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  margin-right: 50px;
}

#character-container img {
  height: 150px;
  width: 100px;
  border: 3px groove black;
  padding: 10px;
  margin: 2.5px;
}

#character-container img:hover {
  border-color: blue;
  box-shadow: 0 0 5px blue;
  cursor: pointer;
}
