body {
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
  margin: 0;
  background: black;
}

#exitButton {
  font-size: 30px;
  background-color: #8f8f8f;
  color: black;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
}

#restartButton {
  font-size: 30px;
  background-color: #8f8f8f;
  color: black;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  bottom: 20px;
  cursor: pointer;
}

/* RESTART MODAL - CSS TO MAKE MODAL WORK */
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  background-color: white;
  padding: 45px 60px 65px 65px;
  border-radius: 5px;
  box-shadow: 0 48px 80px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal h1 {
  padding-left: 10px;
  padding-right: 0px;
}
